<p id="notice"><%= notice %></p>

<h1 align="center">Страны</h1>

<a href= <%=new_country_path%> role="button" class="btn btn-primary">Добавить страну</a>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @countries.sort_by{|country|[country.name]}.each do |country| %>
      <tr>
        <td><%= link_to country.name, country %></td>
        <td>
          <a href= <%=edit_country_path(country)%> role="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <%= link_to 'Удалить', country, method: :delete, data: { confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>