<p id="notice"><%= notice %></p>

<p>
  <strong>Название города:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Название региона, в котором расположен город:</strong>
  <%= @city.region.name %>
</p>

<%= link_to 'Изменить данные о регионе', edit_city_path(@city) %> |
<%= link_to 'Вернуться к списку городов', cities_path %>
