<%= form_with(model: hostel, local: true) do |form| %>
  <% if hostel.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(hostel.errors.count, "error") %> prohibited this hostel from being saved:</h2>

      <ul>
      <% hostel.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Название" %> <br>
    <%= form.text_field :name, id: :hostel_name %>
  </div>

  <div class="field">
    <%= form.label :price, "Цена, руб." %> <br>
    <%= form.number_field :price, id: :hostel_price, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :address, "Адрес" %> <br>
    <%= form.text_field :address, id: :hostel_address %>
  </div>

  <div class="field">
    <%= form.label :about, "Описание" %> <br>
    <%= form.text_area :about, id: :hostel_about %>
  </div>

  <div class="field">
    <%= form.label :city_id, "Город, в котором расположена турбаза" %> <br>
    <%= form.select :city_id, City.all.collect{|c| [c.name, c.id]} %>
  </div>

  <div class="actions">
    <br>
    <%= form.submit "Сохранить"%>
    <a href= <%=new_hostel_path%> role="button" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span>
      Cохранить
    </a>
    <button type="button" сlass="btn btn-success" name="save" value="Сохранить" onClick="return confirmSubmit()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>
  </div>
<% end %>
