<p id="notice"><%= notice %></p>

<h1 align="center">Турбазы</h1>

<a href= <%=new_hostel_path%> role="button" class="btn btn-success">
  <span class="glyphicon glyphicon-plus"></span>
  Добавить турбазу
</a>

<%=will_paginate @hostels %>
ru:
will_paginate:
previous_label: "&#8592; Назад"
next_label: "Далее &#8594;"
page_gap: "&hellip;"

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Название</th>
      <th>Цена, руб.</th>
      <th>Страна, Регион, Город</th>
      <th>Адрес</th>
      <th>Описание</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @hostels.sort_by{|hostel|[hostel.name]}.each do |hostel| %>
      <tr>
        <td><%= link_to hostel.name, hostel %></td>
        <td><%= hostel.price %></td>
        <td>
          <%= hostel.city.region.country.name %>, <br>
          <%= hostel.city.region.name %>, <br>
          <%= hostel.city.name %>
        </td>
        <td><%= hostel.address %></td>
        <td><%= hostel.about %></td>
        <td>
          <a href= <%=edit_hostel_path(hostel)%> role="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

          <a href="#" role="button" class="btn btn-danger" onclick="deleteRecord(hostel)">
            <span class="glyphicon glyphicon-remove"></span>
          </a>

          <%= link_to 'Удалить', hostel, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-danger" %>
            <i class="glyphicon glyphicon-remove"></i>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

