<p id="notice"><%= notice %></p>

<p>
  <strong>Название турбазы:</strong>
  <%= @hostel.name %>
</p>

<p>
  <strong>Цена, руб.:</strong>
  <%= @hostel.price %>
</p>

<p>
  <strong>Адрес:</strong>
  <%= @hostel.address %>
</p>

<p>
  <strong>Описание:</strong> <br>
  <%= @hostel.about %>
</p>

<p>
  <strong>Название города, в котором расположена турбаза:</strong>
  <%= link_to @hostel.city.name, @hostel.city %>
</p>

<a href= <%=edit_hostel_path(@hostel)%> role="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-pencil"></span>
</a>

<a href= <%=hostels_path%> role="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-arrow-left"></span>
  Вернуться к списку турбаз
</a>
